@charset "UTF-8";
.login {
    width: 500px;
    margin: auto;
    text-align: center;
}
.logout_btn{
	margin-right : 20px;
	margin-top : 5px;
	position : relative;
}
.mypage_btn{
	margin-right : 20px;
	margin-top: 15px;
	position : relative;
}
.head {
    width:500px;
    margin: auto;
    border: 3px dotted blue;
}
.main {
    width: 1500px;
    border: 1px solid red;
    margin: auto;
}
.table{
	display: table; 
	width: 100%;
    border : 3px dotted black;
}
.row{
	border:3px solid black;
	display: table-row;
	width:100%;
}
.row input{border:0 solid black}
.cell {display: table-cell; padding: 3px; border-bottom: 2px bold #DDD;}